<footer class="footer"><small>&copy; 2022 - A DBS Project by David Randell</small></footer>
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></!--script-->
</body>
</html>