<div class="container-fluid">
  <div class="row">
    <nav class="navbar row align-items-center col-12">

      <div class="navbar-header col-md-8">
        <a href="/">
          <h1><img
                src="/images/logo.png"
                class="logo"
                alt=""
              />REVIEWED-BY-YOU</h1>

        </a>
      </div>
      <div class="col-md-4">
        <a href="/reviews/new" class="btn btn-secondary navbar-btn">New Review</a>
      </div>
    </nav>
  </div>
</div>